# Dependencias
node_modules/

# Compilados
dist/
build/

# Variables de entorno (secretos)
.env
.env.*
!.env.example

# Logs y sistema
*.log
.DS_Store
Thumbs.db
.vscode/

# Capturas de Git Bash (mintty)
mintty.*.png
